[Unit]
Description=EpicVM Dashboard (direct mode)
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/env bash /opt/blobe-vm/server/blobedash-ensure.sh
ExecReload=/usr/bin/env bash /opt/blobe-vm/server/blobedash-ensure.sh
ExecStop=/usr/bin/env docker rm -f blobedash
Restart=no

[Install]
WantedBy=multi-user.target
